{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>{% block title %}djangox{% endblock title %}</title>
        <meta name="description" content="A framework for launching new Django projects quickly.">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        {% include '_base/header_source.html' %}
    </head>

    <body>
        <main role="main">
            <div class="d-flex flex-column flex-md-row align-items-center py-3 px-4 mb-3 bg-white border-bottom shadow-sm">
                <h5 class="my-0 font-weight-normal">
                    <a href="{% url 'home' %}">DjangoX</a>
                </h5>
                <a class="py-2 px-4 text-dark ms-auto" href="{% url 'about' %}">About</a>
                {% include '_base/nav.html' %}
            </div>
        </main>

        <div class="container">
            {% block content %}
                <p>Default content...</p>
            {% endblock content %}
        </div>

        {% include '_base/footer_source.html' %}

    </body>
</html>
